nav {
    background: #2D2E2E;
    height: 100%;
    position: fixed;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li i {
    color: #fff;
    padding: 20px;
    display: block;
  }
  
  li:hover {
    transition: 0.2s;
    background-color: #444444;
  }